<div class="fm-modal">
    <div class="modal-header">
        MissAtomicBomb file manager
    </div>

    <div class="modal-body">
        <div>
            <!--http://stackoverflow.com/questions/17922557/angularjs-how-to-check-for-changes-in-file-input-fields-->
            <input type="file" id="file-input" class="btn btn-info" ng-disabled="uploading"
                   onchange="angular.element(this).scope().fileChanged(this.files)">
        </div>
        <div>

        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Insert</button>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</div>