<div class="fm-modal">
    <div class="modal-header">
        MissAtomicBomb file manager
    </div>

    <div class="modal-body">
        <div>
            <!--http://stackoverflow.com/questions/20146713/ng-change-on-input-type-file-->
            <input type="file" id="file-input" class="btn btn-info" ng-disabled="uploading">
        </div>
        <div>

        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Insert</button>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
</div>